:root {
  --primary-color: #0f0f0f; /* Primary color */
  --text-color: #fff; /* Text color */
}
.App-header > * {
  margin-bottom: 20px;
}

.App-header div > p {
  margin-bottom: 10px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.App-header {
  text-align: center;
  color: var(--text-color);
}

.file-uploader input[type="file"] {
  display: none; /* Hide the default file input */
}

.file-uploader label {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-uploader label:hover {
  background-color: #1a1a1a; /* Darken primary color */
}

.data-form .form-group input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #464545; /* Darken primary color */
  color: var(--text-color);
  width: 100%;
  margin-bottom: 20px;
}

.data-form .form-group input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 5px var(--primary-color);
  
}
.data-form .submit-button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.data-form .submit-button:hover {
  background-color: #1a1a1a; /* Darken primary color */
}



/* Responsive adjustments */
@media (max-width: 768px) {
  .App-header {
    flex-direction: column;
  }
}